/* color palette */
:root {
    --hd-sony: #000000;
    --logo-ps: #0070D1;
    --login: #363636;
    --buy: #CD3D0F;
    --limits: #117BD1;
    --primary-b: #2D64E6;
    --bg-new: #1F1F1F;
    --bg-plus: #BEBCBB;
    --secondary-b: #D9DADC;
    --bg-now: #161C3B;
    --ft-bg: #00439C;
}

/* #region utilities */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown-toggle::after {
    display: none;
}

.custom_dropdown {
    height: 10px;
}

img {
    max-width: 100%;
}

.top_header_dark {
    background-color: var(--hd-sony);
}

.orange_button {
    background-color: var(--buy);
}

.blue_text {
    color: var(--limits);
}

.blue_button {
    background-color: var(--primary-b);
}

.new_games {
    background-color: var(--bg-new);
}

.ps_plus {
    background-color: var(--bg-plus);
}

.grey_button {
    background-color: var(--secondary-b);
}

.ps_now {
    background-color: var(--bg-now);
}

.banner_rule {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fs_10 {
    font-size: 10px;
}

li {
    list-style-type: none;
}
/* #endregion utilities */

/* #region debug */
.debug header {
    background-color: #000000;
    height: 80px
}

.debug .hero,
.debug .it_takes_two,
.debug .ps_plus,
.debug .ps_now,
.debug #site_footer {
    height: 400px;
    background-color: #00439C;
}

.debug [class^="col"] {
    height: 150px;
    background-color: #CD3D0F;
    border: 1px solid black;
}
/* #endregion debug */

/* #region body */

/* header */
header {
    font-size: 15px;
    box-shadow: 0 3px 8px -4px grey;
}

.logo img {
    width: 50px;
}

.ps_menu {
    background-color: white;
}

.top_search {
    width: 20px;
}

.login {
    font-size: 10px;
    background-color: var(--login);
}

.hero_logo {
    width: 85%;
    padding: 1rem 0;
}
/* /header */

/* main */
.banner_1 {
    background-image: url(../img/jumbo-bg.png);
    background-position-y: 115px;
}

.my_pt {
    padding-top: 15%;
}

.accessories img {
    width: 80%;
}

.banner_2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}
/* /main */

/* footer */
#site_footer {
    background-color: var(--ft-bg);
}
/* /footer */

/* #endregion body */

/* #region hover */
.menu_right a {
    color: grey;
}

.menu_left a:hover {
    color: black;
}

.hero_game img {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.hero_game img:hover {
    cursor: pointer;
    top: -20px;
    border: 3px solid var(--logo-ps);
}

.accessories .col {
    opacity: 50%;
    transition: 0.3s;
}

.accessories .col:hover {
    opacity: 100%;
    border-bottom: 2px solid var(--logo-ps);
    cursor: pointer;
}

.social img:hover,
.ps_store img:hover {
    cursor: pointer;
}
/* #region my responsive */
@media screen and (max-width: 767.98px) {
    .ps_plus_banner {
        display: none;
    }
}
/* #endregion my responsive */