/* color palette */
:root {
    --hd-sony: #000000;
    --logo-ps: #0070D1;
    --login: #363636;
    --buy: #CD3D0F;
    --limits: #117BD1;
    --primary-b: #2D64E6;
    --bg-new: #1F1F1F;
    --bg-plus: #BEBCBB;
    --secondary-b: #D9DADC;
    --bg-now: #161C3B;
    --ft-bg: #00439C;
}

/* #region utilities */
body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

.top_header_dark {
    background-color: var(--hd-sony);
}

.orange_button {
    background-color: var(--buy);
}
/* #endregion utilities */

/* #region debug */
.debug header {
    background-color: #000000;
    height: 80px
}

.debug .hero,
.debug .it_takes_two,
.debug .ps_plus,
.debug .ps_now,
.debug #site_footer {
    height: 400px;
    background-color: #00439C;
}

.debug [class^="col"] {
    height: 150px;
    background-color: #CD3D0F;
    border: 1px solid black;
}
/* #endregion debug */

/* header */
.logo img {
    width: 50px;
}

header {
    font-size: 10px;
}

.top_search {
    width: 20px;
}

.login {
    font-size: 10px;
    background-color: var(--login);
}
/* /header */

/* main */
.hero_logo {
    width: 85%;
    padding: 1rem 0;
}