/* color palette */
:root {
    --hd-sony: #000000;
    --logo-ps: #0070D1;
    --login: #363636;
    --buy: #CD3D0F;
    --limits: #117BD1;
    --primary-b: #2D64E6;
    --bg-new: #1F1F1F;
    --bg-plus: #BEBCBB;
    --secondary-b: #D9DADC;
    --bg-now: #161C3B;
    --ft-bg: #00439C;
}